<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3BC0BAE606AA24C5AEC24532</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F7A7DF0D60CEAE9C873F3B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA933BBD5AC6B627139BBB61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD8EAAC580C0363890BAE33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
